form(method='POST' action='')
    unless autofocus_password
        - autofocus_username = 'autofocus'
    if flash_message
        p= flash_message
    label(for='username')
        b Username
    input(id='username_input' type='text' name='username' value=username required autofocus= autofocus_username)
    br
    label(for='password')
        b Password
    input(id='password_input' type='password' name='password' required autofocus= autofocus_password)
    br
    button(id="submit_button" type="submit") Submit
a(href="/signup") Signup