html
	head
		title Profile
		link(rel='stylesheet', href='/css/dashboard.css')
	body
		header
			h1 Node.js Microposts
			ul
				li
					a#home_link(href='/') Home
				li
					a.active#profile_link(href='/profile') Profile
				li(style='float: right;')
					a.logout_link(href='/logout') Logout